.subscription-form-input {
    margin-right: 12px;
    padding-left: 16px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #2F303A;

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);

    }
}
.subscription-form-btn {
    display: flex;
    justify-content: center;
    min-width: 200px;
    height: 50px;
    border: none;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.18;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    ;

    color: #FFFFFF;
}

.subscription-send-icon {
    margin-left: 10px;

}
.subscription-form-input {
    margin-bottom: 20px;
}


.subscription-form-btn-wrapper {

    display: flex;
    justify-content: center;
}
//0px-767px
@media screen and (max-width:767px){
    
    

    
}
//768+
@media screen and (min-width: 768px) {
    

}
//1200+
@media screen and (min-width: 1200px) {
.subscription-form-input{
    width: 358px;
    height: 50px;

}
.subscription-form {
    display: flex;
}
.subscription {
    margin-left: 93px;
}

}


