.main-title {
    margin-bottom: 30px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;}

@media screen and (max-width:768px){
    .main-title{
    font-size: 26px;
    line-height: 1.62;
    }

}
//768+
@media screen and (min-width:767px) {
    .main-title {
        font-size: 26px;
        line-height: 1.62;}
    }
//1200+
@media screen and (min-width:1200px) {
    .main-title {
        font-size: 44px;
        line-height: 1.36;
    
}
    }
