html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: var(--main-background-color);
    color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;}


//1200+
@media screen and (min-width:1200px){
    .section {
        padding-top: 94px;
        padding-bottom: 94px;

}
}
/*.section {
    padding-top: 94px;
    padding-bottom: 94px;
}*/